.jumbotron{
  margin-top: 18%;
}

h1 {
  display: flex;
  justify-content: center;
}

#subheader {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.lead {
  display: flex;
  justify-content: space-around;
}

#linkButtons {
  display: flex;
}


