.jumbotron{
  margin-top: 18%;
}

h1 {
  display: flex;
  justify-content: center;
}

#subheader {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.lead {
  display: flex;
  justify-content: space-around;
}

.button-3d{
  display: flex;
  justify-content: space-around;
  position:relative;
  width: 200px;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #53fff6;
  background:#22cfe6;
  text-align:center;
  padding:16px 18px 14px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #30099b;
  -moz-box-shadow: 0px 6px 0px #0038d3;
  box-shadow: 0px 6px 0px #3f00d3ef;
}

.button-3d:active{
  -webkit-box-shadow: 0px 2px 0px #1a1231;
  -moz-box-shadow: 0px 2px 0px #03000c;
  box-shadow: 0px 2px 0px #12023d;
  position:relative;
  top:4px;
}

#linkButtons {
  display: flex;
}


