/* Style Sheet */

fieldset {
    border: 0;
  }
  label {
    display: block;
    margin: 30px 0 0 0;
  }
  .overflow {
    height: fit-content;
  }

.HeaderNameClass{
  padding: 10px;
    grid-gap: 20px;
}

  .songLists{
    padding: 10px;
    list-style-type:square;
    grid-gap: 20px;
  }

  .container{
    justify-self: center;
    display: -ms-inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 400px;
    grid-gap: 20px;
    height:fit-content;
    border-radius: 15px;
    padding: 20px 20px 60px 20px;
    background-color: rgb(72, 78, 75);
    border: 2px solid rgb(227, 84, 79);
  }

  